@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f9f9f9;
}

@font-face {
    font-family: "mont";
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "rob";
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "brob";
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: "bmont";
    src: url('../fonts/Montserrat-Bold.ttf');
}

